pkgbase = changewall
	pkgdesc = Animated KDE Plasma wallpaper switcher
	pkgver = 0.1.3
	pkgrel = 1
	url = https://github.com/villawebcl/changewall
	install = changewall.install
	arch = x86_64
	license = MIT
	makedepends = qt6-base
	depends = qt6-base
	depends = qt6-declarative
	depends = kglobalaccel
	depends = plasma-workspace
	source = changewall-0.1.3.tar.gz::https://github.com/villawebcl/changewall/archive/refs/tags/v0.1.3.tar.gz
	sha256sums = 892455121b5d531681ba37d1a04965339dc6f3fceb876af3f21e5cc850fa0634

pkgname = changewall
