pkgbase = changewall
	pkgdesc = Animated KDE Plasma wallpaper switcher
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/villawebcl/changewall
	install = changewall.install
	arch = x86_64
	license = MIT
	makedepends = qt6-base
	depends = qt6-base
	depends = qt6-declarative
	depends = kglobalaccel
	depends = plasma-workspace
	source = changewall-0.1.2.tar.gz::https://github.com/villawebcl/changewall/archive/refs/tags/v0.1.2.tar.gz
	sha256sums = e9b2532545d639c11924ec90f7c96f78576a25d50d8c0bc39db73bb6b232ad71

pkgname = changewall
