[Desktop Entry]
Type=Application
Version=1.0
Name=ChangeWall
Comment=Start ChangeWall on Plasma login
Exec=changewall
Terminal=false
OnlyShowIn=KDE;
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
